body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #565656;
  background-color: #fcfaff;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0px;
  background-color: #fcfaff;
}

/* .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100% !important;
} */

.photo-frame {
  background-color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.2);
  -moz-box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.2);
  box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.2);
}

.photo-frame:hover {
  -webkit-box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.6);
  -moz-box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.6);
  box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.6);
}

.photo-frame img {
  /* width: 10px; */
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

.pic-list {
  padding-top: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header-bar {
  z-index: 1000;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(124,51,249);
  background: linear-gradient(180deg, rgba(124,51,249,1) 0%, rgba(183,65,252,1) 100%);
  height: 50px;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.6);
  -moz-box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.6);
  box-shadow: 0px 4px 28px -10px rgba(124,51,249,0.6);
}

#search-box {
  background-color: white;
  border-width: 0;
  width: 250px;
  margin-right: 10px;
  line-height: 30px;
  color: #7c33f9;
  padding-left: 10px;

}

::placeholder {
  color: #b741fc;
  font-style: italic;
}

.photo-details {
  height: 8.5em;
}

.button {
  background-color: white;
  margin-right: 40px;
  border-radius: 50px;
  border-width: 0;
  cursor: pointer;
  color: #7c33f9;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  transition: background-color 0.25s linear;
}

.button:disabled {
  background-color: transparent;
  color: white;
}

.link {
  display: block;
  /* color: #7c33f9; */
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  margin-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* margin-bottom: 8px; */
  color: white;
  text-shadow: 0px 2px 2px rgba(124, 51, 229, 1);
  position: relative;
  bottom: 3.5em;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 1.25em;
}

.link:hover {
  text-decoration: underline;
}

.small {
  font-size: 0.8rem;
}

.text-content {
  height: 4.5em;
  overflow: hidden;
  position: relative;
  bottom: 1.5em;
}

.fade-end {
  background-color: brown;
  height: 1.5em;
  position: relative;
  bottom: 1.5em;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.tag-fade {
  bottom: 5em;
  background: linear-gradient(180deg, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 100%);
}

.photo-tag-box {
  height: 3em;
  position: relative;
  bottom: 3.5em;
  overflow: hidden;
}

.tag {
  background-color: #7c33f9;
  color: white;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 0.25em;
  line-height: 1.3em;
  padding-left: 4px;
  padding-right: 4px;
}

.form {
  flex: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h1 {
  font-weight: 400;
}

.highlight {
  color: white;
  text-shadow: 0px 0px 14px rgba(255, 255, 255, 1);
}

.loading {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
}

.status-message {
  color: grey;
  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;
}