body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
}

#header-bar {
  background-color: grey;
  width: 100%;
  height: 40px;
  position: fixed;
}

.photo-frame {
  display: inline-block;
  height: 300px;
  width: 240px;
  background-color: yellow;
  padding: 20px;
  margin: 20px;
}